@media screen and (min-width: 360px) and (max-width: 767px) {
  p {
    width: auto;
  }

  #result {
    display: block;
    margin-left: 20px;
  }

  .search {
    display: flex;
  }

  .local_field {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  p {
    width: auto;
  }

  #result {
    display: block;
    margin-left: 20px;
  }

  .search {
    display: flex;
  }

  .back-icon {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: start;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    width: 100%;
  }
  
  main {
    width: auto;
  }

  #bio {
    grid-column: 2/3;
  }

  .infos_field {
    grid-column: 2/3;
  }

  .local_field {
    grid-column: 2/3;
  }

  #join {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;

  }
}